<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>token</key>
	<string>888888</string>
	<key>version</key>
	<string>1.0.0</string>
	<key>uid</key>
	<string>666</string>
	<key>mn</key>
	<string>2</string>
	<key>channelId</key>
	<string>27</string>
</dict>
</plist>
